<ion-view>
    <ion-content class="has-header">
      <!--<button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>-->
      <div class="list">
            <!-- <a class="item item-thumbnail-left"
               collection-repeat="item in model.list track by $index"
               collection-item-height="100"
               collection-item-width="'100%'"
                ui-sref="tab.place">
                <img ng-src="{{item.image}}">
                <h2>{{item.name}}</h2>
                <p>{{item.description}}</p>
                <button class="icon ion-images button button-clear button-positive">
  Voir la galerie d'images
                </button>
            </a> -->
            <a class="item item-thumbnail-left"
               ng-repeat="(key,item) in model.list track by $index"
                ui-sref="tab.place({id:key})">
                <img ng-src="{{item.image}}">
                <h2>{{item.name}}</h2>
                <p>{{item.description}}</p>
                <button class="icon ion-images button button-clear button-positive">
  Voir la galerie d'images
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>
